<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="OrderManagementContext" connectionString="Data Source=.;Initial Catalog=OrderManagement;Persist Security Info=True;User ID=sa;Password=123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="UnityContainerRegister" value="OrderManager.Service.UnityContainerRegister,OrderManager.Service"/>
    <!--******************SAP Business One服务器配置信息******************-->
    <!--SAP Business One服务器地址-->
    <add key="Server" value="127.0.0.1"/>
    <!--数据库类型：
        dst_MSSQL = 1,
        dst_DB_2 = 2,
        dst_SYBASE = 3,
        dst_MSSQL2005 = 4,
        dst_MAXDB = 5,
        dst_MSSQL2008 = 6,
        dst_MSSQL2012 = 7-->
    <add key="DbServerType" value="6"/>
    <!--License服务器地址:端口号-->
    <add key="LicenseServer" value="127.0.0.1:30000"/>
    <!--SAP Business One账套数据库名称-->
    <add key="CompanyDB" value="SBO_GS_TEST"/>
    <add key="JFZCompanyDB" value="SBO_JFZ_TEST"/>
    <!--数据库用户名-->
    <add key="DbUserName" value="sa"/>
    <!--数据库密码-->
    <add key="DbPassword" value="avatech"/>
    <!--SAP Businees One 系统语言：
        ln_Hebrew = 1,
        ln_Spanish_Ar = 2,
        ln_English = 3,
        ln_Polish = 5,
        ln_English_Sg = 6,
        ln_Spanish_Pa = 7,
        ln_English_Gb = 8,
        ln_German = 9,
        ln_Serbian = 10,
        ln_Danish = 11,
        ln_Norwegian = 12,
        ln_Italian = 13,
        ln_Hungarian = 14,
        ln_Chinese = 15,
        ln_Dutch = 16,
        ln_Finnish = 17,
        ln_Greek = 18,
        ln_Portuguese = 19,
        ln_Swedish = 20,
        ln_English_Cy = 21,
        ln_French = 22,
        ln_Spanish = 23,
        ln_Russian = 24,
        ln_Spanish_La = 25,
        ln_Czech_Cz = 26,
        ln_Slovak_Sk = 27,
        ln_Korean_Kr = 28,
        ln_Portuguese_Br = 29,
        ln_Japanese_Jp = 30,
        ln_Turkish_Tr = 31,
        ln_TrdtnlChinese_Hk = 35,
      -->
    <add key="Language" value="3"/>
    <!--SAP Business One 登录用户-->
    <add key="UserName" value="F004" />
    <!--SAP Business One 登陆用户密码-->
    <add key="Password" value="123"/>
    <!--******************************************************************-->
  </appSettings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>  
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <!--<packages>
    <package id="AutoMapper" version="3.3.1" targetFramework="net45" />
    <package id="EntityFramework" version="5.0.0" targetFramework="net45" />
    <package id="EntityFramework.zh-Hans" version="5.0.0" targetFramework="net45" />
  </packages>-->
</configuration>