<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <connectionStrings>
        <add name="OrderManagementContext" connectionString="Data Source=.;Initial Catalog=OrderManagement;Persist Security Info=True;User ID=sa;Password=12345678;MultipleActiveResultSets=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>