
<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">

    <title>@RenderSection("title", false)</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <link href="~/Css/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Css/AdminLTE.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Css/fakeloader.css" rel="stylesheet" />
    <link href="~/Js/plugins/iCheck/square/blue.css" rel="stylesheet" type="text/css" />
    <link href="~/Css/skin-blue.min.css" rel="stylesheet" />
    <link href="~/Js/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Js/plugins/dateTimePicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/Js/plugins/dateTimePicker/build/build_standalone.less" type="text/css" rel="stylesheet/less" />

    @RenderSection("head", false)
</head>

<body>
    <section>
        <div id="dialog_content"></div>
        <div id="fakeloader" style="opacity:0.5"></div>

    </section>
    @RenderSection("body", false)

    <script src="~/Js/utility/jquery.min.js"></script>
    <script src="~/Js/bootstrap/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Js/plugins/iCheck/icheck.min.js" type="text/javascript"></script>
    <script src="~/Js/utility/fakeloader.min.js"></script>
    <script src="~/Js/utility/master.js"></script>
    <script src="~/Js/plugins/dateTimePicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Js/plugins/dateTimePicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="utf-8"></script>

    @RenderSection("script", false)
    <script>
        $("#fakeloader").fakeLoader({
            timeToHide: 6000000,
            bgColor: "#595959",
            spinner: "spinner2"
        });  
        $("#fakeloader").css("display", "none");
    </script>
</body>
</html>
