
<div class="modal fade" style="padding:5%" id="modal_dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="false">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="modal_title">@RenderSection("title", false)</h4>
            </div>
            <div class="modal-body" style="padding-top:0px; border-top:2px solid #dbdbdb;">
                @RenderSection("Message", false)
            </div>
            <div class="modal-footer">
                @RenderSection("buttons", false)
            </div>
        </div>
    </div>
</div>
