@{
    Layout = "~/Views/Template/dialog.cshtml";
}

@model OrderManager.Model.Models.OM_User

@section title {
    <h4 style="font-weight:bold"><label>重设密码</label></h4>
}

@section Message{

    <!-- form start -->
    <form role="form" id="form_modifyPwd">
        <input hidden="hidden" value="@Model.Guid" name="UserGuid" />
        <div class="box-body">
            <div style="margin-bottom:15px;">
                <label>账户</label>
                <p>@Model.Account</p>
            </div>

            <div class="form-group">
                <label for="userName">用户名</label>
                <input type="text" class="form-control"  id="userName" value="@Model.Name" disabled>
            </div>

            <div class="form-group has-feedback">
                <label for="newPwd">新密码</label>
                <input type="password" class="form-control" name="newPwd" id="newPwd" placeholder="新密码" required>
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <label for="confirmPwd">再次输入新密码</label>
                <input type="password" class="form-control" name="confirmPwd" id="confirmPwd" placeholder="确认密码" required>
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
        </div>
    </form>

}

@section buttons{
    <button id="confirm" type="button" class="btn btn-primary" data-dismiss="modal" onclick="">确定</button>
    <button type="button" class="btn btn-default" data-dismiss="modal" id="cancle">取消</button>
    <script>
        $(function () {
            $('#confirm').click(function () {

                if ($("#confirmPwd").val() == '' ||
                $("#newPwd").val() == '' ) {
                    alertInfo("验证失败", "密码不能为空");
                    return;
                }

                if ($("#confirmPwd").val() != $("#newPwd").val()) {
                    alertInfo("验证失败", "两次输入密码不一致");
                    return;
                }
                $(this).addClass("disabled");
                getAsynData("resetPassword", $("#form_modifyPwd").serialize(), function (json) {
                    alertInfo("提示", "修改成功");
                    $("#confirmPwd").val('');
                    $("#newPwd").val('');
                });
            });

        })
    </script>
}

