<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<connectionStrings>  应用项目下添加
    <add name="AopDbEntity" connectionString="metadata=res://*/AopDbEntity.csdl|res://*/AopDbEntity.ssdl|res://*/AopDbEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RANDY-PC;initial catalog=aop_db;persist security info=True;user id=sa;password=12345678;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>-->
</configuration>