@{
    Layout = "~/views/template/content.cshtml";
}


@section title{ 营销远程平台 | 主页 }


@section content_header{

    <h1>
        主页
        <small>a set of beautiful products</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="glyphicon glyphicon-home"></i> Home</a></li>
        <li class="active">Product</li>
    </ol>
}
@section content{

    <div>

    </div>
}


@section script{
    @*<script src="~/Js/utility/jquery.min.js"></script>*@
    <script>
        $(function () {
            $("#productManager").addClass("active");
            $("#productManager .treeview-menu").attr("display", "block");
        })
    </script>
}