@{
    Layout = "~/views/template/base.cshtml";
}


@section title{
    经销商平台 | 登陆
}

@section head{

    <style>
        .bg {
            background: url('@Url.Content("~/img/photo2.png")') no-repeat top center scroll;
            background-size: cover;
            width: 100%;
            height: 100%;
            margin: 0 auto;
        }

    </style>
}


@section body{

          <section>
              <div class="login-box ">
                  <div class="login-logo">
                      <a href="#"><b>高山药业经销商平台</b></a>
                  </div><!-- /.login-logo -->
                  <div class="login-box-body">
                      <p class="login-box-msg">
                          <span class="glyphicon glyphicon-home"></span>
                          <b>&nbsp;欢迎使用</b>
                      </p>
                      <form method="post" id="form_login">
                          <div class="form-group has-feedback">
                              <input type="text" name="UserCode" class="form-control" required placeholder="账户名" id="account" value="@ViewBag.Account" required />
                              <span class="glyphicon glyphicon-user form-control-feedback"></span>
                          </div>
                          <div class="form-group has-feedback">
                              <input type="password" name="Password" class="form-control" required placeholder="密码" id="password" value="@ViewBag.Pwd" required />
                              <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                          </div>
                          <div class="row">
                              <div class="col-xs-8">
                                  <div class="checkbox icheck">
                                      <label>
                                          <input name="IsRememeber" id="IsRememeber" type="checkbox">&nbsp;&nbsp;记住我
                                      </label>
                                  </div>
                              </div>
                              <div class="col-xs-4">
                                  <button type="button" id="submit" class="btn btn-primary btn-block btn-flat">登陆</button>
                              </div>
                          </div>
                      </form>

                  </div>
              </div>
        </section>

}

@section script{

    <script>
        $(function () {
            $('#IsRememeber').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional,
            });

            $('body').addClass('bg');

            //fakeLoading();

            $('#IsRememeber').on('ifChecked', function (event) {
                $('#IsRememeber').val(true);
            });

            $('#submit').click(function () {

                if ($("#account").val() == '' || $("#password").val() == '') {
                    var model = { 'Title': '提示', 'Message': '账户或密码不能为空' };
                    createDialog('base/exception', model);
                    return;
                }

                $(this).addClass("disabled");
                var data = $("#form_login").serialize();

                getAsynData('@Url.Content("~/home/login")', data, function (json) {
                    location.href = json.Href;
                });
            });

        });
    </script>
}

