@{
    Layout = "~/views/template/content.cshtml";
}


@section title{ 经销商平台 | 下订单  }


@section content_header{

    <h1>
        订单管理
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/home/home"><i class="glyphicon glyphicon-home"></i> 主页</a></li>
        <li>订单管理</li>
        <li class="active">下订单</li>

    </ol>
}


@section content{
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title"><label>订单下达</label></h3>
        </div>
        <div class="box-body">
            <div>
                <div class="btn-group" style="margin:2%;">
                    <button class="btn btn-default btn-sm disabled"><i class="glyphicon glyphicon-user"></i>&nbsp;客户代码</button>
                    <input type="text" name="UserCode" id="UserCode" class="form-control input-sm pull-right" style="width: 200px;">
                </div><!-- /.btn-group -->


                <div class="btn-group pull-right" style="margin:2%;">
                    <button class="btn btn-default btn-sm disabled"><i class="glyphicon"></i>&nbsp;状态</button>
                    <select class="form-control  input-sm pull-right" style="width: 200px;" id="status">
                        <option>option 1</option>
                        <option>option 2</option>
                        <option>option 3</option>
                        <option>option 4</option>
                        <option>option 5</option>
                    </select>
                </div><!-- /.btn-group -->

            </div>
            <div class="row" style="border-top:1px solid #ff6a00;margin:2%;">
                <div class="col-sm-12">
                    <table class="table table-bordered table-hover dataTable" role="grid" id="order_table">
                        <thead>
                            <tr role="row">
                                <th tabindex="0">物料编号</th>
                                <th tabindex="0">物料名称</th>
                                <th tabindex="0">价格</th>
                                <th tabindex="0">数量</th>
                                <th tabindex="0">货币</th>
                                <th tabindex="0">总价</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr role="row">
                                <td>0</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td>2</td>
                            </tr>
                            <tr role="row">
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td>2</td>
                            </tr>
                            <tr role="row">
                                <td>2</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td>2</td>
                            </tr>

                        </tbody>

                    </table>

                </div>
            </div>

            <div style="border-top:1px solid #ff6a00;margin:2%;">

                <div class="btn-group" style="padding-top:2%;">
                    <button class="btn btn-default btn-sm disabled"><i class="glyphicon glyphicon-edit"></i>&nbsp;备注</button>
                    <textarea id="remark" class="form-control input-sm pull-righ" rows="4" style="width:400px;" placeholder="输入备注 ..."></textarea>
                </div><!-- /.btn-group -->

                <div class="btn-group pull-right" style="padding-top:2%;">
                    <button class="btn btn-info " id="addRow" style="margin-right:10px;"><i class="glyphicon glyphicon-plus"></i>&nbsp;添加行</button>
                    <button class="btn btn-warning " id="removeRow"><i class="glyphicon glyphicon-remove"></i>&nbsp;删除行</button>
                </div><!-- /.btn-group -->
            </div>


            <div style="border-top:1px solid #ff6a00;margin:2%;">

                <div class="btn-group" style="padding-top:2%;">
                    <button class="btn btn-primary" id="saveDraft" style="margin-right:10px;width:100px;"><i class="glyphicon glyphicon-edit"></i>&nbsp;保存草稿</button>
                    <button class="btn btn-primary" id="sumbit" style="margin-right:10px;width:100px;"><i class="glyphicon glyphicon-ok"></i>&nbsp;提交</button>
                    <button class="btn btn-primary" id="sumbit2SAP" style="margin-right:10px;width:100px;"><i class="glyphicon glyphicon-link"></i>&nbsp;对接SAP</button>
                </div><!-- /.btn-group -->
            </div>
        </div>
    </div>

}


@section script{
    @*<script src="~/Js/utility/jquery.min.js"></script>*@
    <script>
        var currentRow;
        var isEdit = false;

        $(function () {
            $("#orderManager").addClass("active");
            $("#orderManager .treeview-menu").attr("display", "block");
            $("#orderManager .treeview-menu>li").eq(1).addClass("active");

            //客户代码dialog
            $("#UserCode").dblclick(function () {
                createDialog('@(Url.Content("~/order/usercodelist"))');
            })

            //添加行
            $("#addRow").click(function () {
                //$('#addRow').removeClass("disabled");
                if (isEdit == true)
                    return;

                isEdit = true;
                var row = "    <tr role='row'> <td><input type='text'/></td> <td><input type='text'/></td> <td><input type='text'/></td> <td><input type='text'/></td> <td><input type='text'/></td> <td><input type='text'/></td>    </tr>   ";
                $("#order_table tbody").append(row);
                var newrow = $("#order_table tr").last("tr");
                RowClickEvent($(newrow));

            })
            //删除行
            $("#removeRow").click(function () {
                $(currentRow).remove();
            })
            //行事件
            $("#order_table tr").each(function () {

                RowClickEvent($(this));


            });

            //保存草稿
            $("#saveDraft").click(function () {
                var data = GetCurrentPageDate();
            });

        })

        function GetCurrentPageDate() {
            var result = {
                UserCode: "",
                Status: "",
                OrderItems: new Array(),//{ [],[],[] }
                Remark: ""

            };
            result.UserCode = $("#UserCode").val();
            result.Remark = $("#remark").val();
            result.Status = $("#status").val();
            $("#order_table tr").each(function () {
                var tdArr = $('td', $(this));
                if (tdArr.length == 0)
                    return;
                var row = {
                    ItemCode: $(tdArr[0]).html(),
                    ItemName: $(tdArr[1]).html(),
                    Price: $(tdArr[2]).html(),
                    Quantity: $(tdArr[3]).html(),
                    Currency: $(tdArr[4]).html(),
                    TotalPrice: $(tdArr[5]).html(),
                };

                result.OrderItems[result.OrderItems.length] = row;
            })

            var data = JSON.stringify(result);
            console.log(data);
            return data;

        }

        function RowClickEvent(tr) {
            $(tr).click(function () {
                //是否当前行  currentrow ==old
                if ($(currentRow).html() != $(tr).html()) {
                    var editInput = $("td input", $(currentRow)).length; //$(currentRow).children("td").children("input");
                    if (editInput > 0) {
                        RemoveEditInput(currentRow);
                    }
                }

                currentRow = $(tr);
                $(this).css("background", "#f4f4f4");
                $(this).siblings("tr").css("background", "");
            }).dblclick(function () {

            });
        }

        function RemoveEditInput(tr) {
            var arrInput = $("td input", $(tr));
            for (var i = 0; i < arrInput.length; i++) {
                if ($(arrInput[i]) == null || isNullorEmptyString($(arrInput[i]).val())) {
                    $(tr).remove();
                    alertInfo("提示", "订单项填写有误");
                    break;
                }

                var inputValue = $(arrInput[i]).val();
                var parent = $(arrInput[i]).parent();  //td
                $(parent).html(inputValue);

            }

            isEdit = false;
        }


    </script>
}
