@{
    Layout = "~/Views/Template/dialog.cshtml";
}



@section title {
    <h4 style="font-weight:bold"><label>订单详细</label></h4>
}

@section Message{

    <div class="box box-primary">
        订单详细
    </div>


}

@section buttons{

    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>

}