@{
    Layout = "~/Views/Template/dialog.cshtml";
}


@section title {
    <h4 style="font-weight:bold"><label>价格列表</label></h4>
}

@section Message{

    <div class="box-body">
        <div class="dataTables_wrapper form-inline dt-bootstrap">
            <div class="row">
                <div class="col-sm-6"></div><div class="col-sm-6"></div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-hover dataTable" role="grid" id="userlistCode_table">
                        <thead>
                            <tr role="row">
                                <th tabindex="0">物料编号</th>
                                <th tabindex="0">价格</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr role="row">
                                    <td>@item.Product_ItemCode</td>
                                    <td>@item.Price.ToString("0.00")</td>
                                </tr>
                            }
                            @if (Model.Count == 0)
                            {
                                <tr>
                                    <td colspan="2">没有找到匹配的价格列表</td>
                                </tr>
                            }

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

}

@section buttons{
    <button type="button" class="btn btn-primary" data-dismiss="modal" id="comfirm_code">确定</button>
    <button type="button" class="btn btn-default" data-dismiss="modal" id="cancel_code">取消</button>
    <script>
        $(function () {
            //tr click
            $("#userlistCode_table tr").each(function () {
                var itemprice;
                $(this).click(function () {

                    if (itemprice == $(this).children('td').html()) {
                        $(this).css("background", "");
                    }
                    itemprice = $(this).children('td').last().html();
                    console.log($(this).children('td').first().html());
                    console.log(itemprice);
                    $(this).css("background", "#f4f4f4");
                    $(this).siblings("tr").css("background", "");
                    $("#itemprice").val(itemprice);

                }).dblclick(function () {

                    itemprice = $(this).children('td').last().html();
                    $("#itemprice").val(itemprice);
                    $("#comfirm_code").click();
                });
            });
            //取消
            $("#cancel_code").click(function () { $("#itemprice").val(''); });




        })

    </script>
}

