@{
    Layout = "~/Views/Template/content.cshtml";
}
@section title{ 经销商平台 | 对账单  }
@section content_header{

    <h1>
        订单管理
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/home/home"><i class="glyphicon glyphicon-home"></i> 主页</a></li>
        <li>订单管理</li>
        <li class="active">对账单</li>

    </ol>
}

@section content{
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">
                <label>对账单</label>
            </h3>
        </div>
    </div>
    <div class="box-body">
        <div>
            <div class="btn-group" style="margin:2%;">

                <div>
                    <button class="btn btn-default btn-sm disabled">&nbsp;客户代码</button>
                    <input type="text" name="UserCode" id="UserCode" class="form-control input-sm pull-right" style="width: 180px;" value="" /> &nbsp;
                </div>
                <div>
                    <br />
                    <button class="btn btn-default btn-sm disabled">&nbsp;客户名称</button>
                    <input type="text" name="CardName" id="CardName" class="form-control input-sm pull-right " style="width: 180px;" value="" />
                </div>
            </div><!-- /.btn-group -->

            <div class="btn-group pull-center" style="top:-10px">
                <div>
                    <br />
                    <button class="btn btn-default btn-sm disabled"><i class="glyphicon"></i>&nbsp;开始日期</button>
                    <input id="datetimepicker" type="text" class="form-control  input-sm pull-right" style="width:180px;" value="" />
                    <div class="iframeHtmlControlContainer" id="iframeHtmlControlContainer">
                        <iframe width="245px" height="219px" frameborder="0" allowtransparency="true" id="iframeHtmlControl" src="" style="position: absolute; z-index: 1001; display: none;"></iframe>
                    </div>
                    <div>
                        <br />
                        <button class="btn btn-default btn-sm disabled"><i class="glyphicon"></i>&nbsp;结束日期</button>
                        <input id="docDueDateTimePicker" type="text" class="form-control  input-sm pull-right" style="width:180px;" value="" />
                        <div class="iframeHtmlControlContainer" id="docDueDateiframeHtmlControlContainer">
                            <iframe width="245px" height="219px" frameborder="0" allowtransparency="true" id="docDueDateiframeHtmlControl" src="" style="position: absolute; z-index: 1000; display: none;"></iframe>
                        </div>
                    </div><!-- /.btn-group -->
                </div>
            </div>

            <div class="btn-group pull-right" style="left:-600px;top:70px">
                <button class="btn btn-primary" id="search" style="margin-right:10px;width:100px;"><i class="glyphicon glyphicon-edit"></i>&nbsp;查询</button>
            </div>
        </div>
}

@section script{
    <script>
        var docDateClick = false;
        var docDueDateClick = false;
        $(function () {

            $("#orderManager").addClass("active");
            $("#orderManager .treeview-menu").attr("display", "block");
            $("#orderManager .treeview-menu>li").eq(2).addClass("active");

            $("#docDueDateTimePicker").click(function () {
                docDateClick = false;
                docDueDateClick = true;
                $("#docDueDateiframeHtmlControl").attr("src", "/Order/DateTimePickerIframe");
                $("#docDueDateiframeHtmlControl").show();
            })
            $("#datetimepicker").click(function () {
                docDateClick = true;
                docDueDateClick = false;
                $("#iframeHtmlControl").attr("src", "/Order/DateTimePickerIframe");
                $("#iframeHtmlControl").show();
            })

            $("#search").click(function () {
                var searchData = { "cardCode": "", "cardName": "", "startDate": "", "endDate": "" };
                searchData.cardCode = $("#UserCode").val();
                searchData.cardName = $("#CardName").val();
                searchData.startDate = $("#datetimepicker").val();
                searchData.endDate = $("#docDueDateTimePicker").val();
                getAsynData("GetCrystalData", searchData, function (json) {
                    window.open("/Order/ShowRptData", 'mywindow', 'fullscreen=yes, scrollbars=auto');
                });
            });
        });


        function setDateTimePikcerValue(date) {
            if (docDateClick) {
                $("#datetimepicker").val(date);
                docDateClick = false;
            }
            else {
                docDueDateClick = false;
                $("#docDueDateTimePicker").val(date);

            }

        }
        function dateTimePickerClose() {
            //if (docDateClick) {
            //    $("#iframeHtmlControl").hide();
            //    docDateClick = false;
            //}
            //else {
            //    $("#docDueDateiframeHtmlControl").hide();
            //    docDueDateClick = false;
            //}
            $("#docDueDateiframeHtmlControl").hide();
            $("#iframeHtmlControl").hide();
        }
    </script>
}
