@{
    Layout = "~/Views/Template/dialog.cshtml";
}


@section title {
    <h4 style="font-weight:bold"><label>客户代码</label></h4>
}

@section Message{
Usercode

}

@section buttons{
    <button id="confirm" type="button" class="btn btn-primary" data-dismiss="modal" onclick="">确定</button>
    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
    <script>
    $(function () {


    })

   </script>
}

